* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 0px;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
}

@media screen and (min-width: 646px) {
  .items {
    border: solid goldenrod 3px;
    min-height: 150px;
    max-height: 195px;
    min-width: 150px;
    max-width: 200px;
    justify-content: space-between;
    overflow-y: auto;
    margin-top: 5px;
  }
  .main {
    background-color: aquamarine;
  }
  .items img {
    width: 95%;
    height: auto;
  }
}

.main {
  border: solid green 3px;
  display: flex;
  flex-direction: row;
  height: 75%;
}
.gallery {
  width: 70vw;
  height: 100%;
  border: solid blue 1px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.gallery p {
  background-color: blueviolet;
  font-size: 0.8rem;
}
@media screen and (max-width: 646px) {
  .items {
    border: solid goldenrod 3px;
    min-height: 75px;
    max-height: 96px;
    min-width: 75px;
    max-width: 100px;
    justify-content: space-between;
    overflow: auto;
    margin-top: 5px;
  }

  .items img {
    width: 95%;
    height: auto;
  }
}
.items img {
  width: 95%;
  height: auto;
}

.sidebar {
  width: 35vw;
  border: solid yellow 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.sidebar .items {
  margin-top: 5px;
}

.footer {
  border: solid purple 2px;
  height: 10%;
}

.header {
  background-color: #282c34;
  border: solid red 2px;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
